:root{
    --clr-main: rgb(136, 13, 136);
}

html{
    background-color: var(--clr-main);
}

.content{
    border-radius: 0.25vw;
    width: 85vw;
    border: black 2px solid;
    display: inline-block;
    height: 80vh;
    background-color: aliceblue;
}

#Input{
    border-radius: 0.25vw;
    border: black 2px solid;
    width: 80%;
}