:root{
   --hdr-clr: rgb(16, 49, 139);
   --btn-clr: rgb(28, 93, 146);
   --btn-hover-clr-: #58126d;
   --btn-active-clr-: #3f0850;
   --txt-clr: black;
   --bg-clr: #1a1a1c;
   --bg-clr2: #df3618;
   --main-clr:rgb(44, 174, 214);
   --second-clr: rgb(192, 209, 245);
   margin-left: 0;
}

::-webkit-scrollbar{
   width: 10px;
}
::-webkit-scrollbar-track{
   background-color: var(--hdr-clr);
}
::-webkit-scrollbar-thumb{
   border: var(--hdr-clr) 2px solid;
   background-color: var(--btn-clr);
   border-radius: 25px;
}
 
::-webkit-scrollbar-thumb:active{
   background-color: var(--btn-active-clr-); 
}
 
html{
   overflow-y: scroll;
   scroll-behavior: smooth;
}
 
body{
   margin:  0.5vh 0.5vw 0.5vh 0.5vw;
   padding:0;
   color: var(--txt-clr);
   background-color: var(--bg-clr2);
   background-image: url("../Img/Bg1.jpg");
   background-repeat: no-repeat;
   background-size: 120%;
   color: #000000;
}

div{
   text-align: center;
}

#Button{
   text-align: center;
   font-weight: bold;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   display: inline-block;
   width: 100px;
   border-radius: 10px;
   background-color: red;
   margin: 40vh 0 0 0;
   border: 1px black solid;
   transition-duration: 0.5s;
}
#Button:hover,
#Button:focus-visible{
   border: 1px blue solid;
   transform: scale(1.2);
   transition-duration: 0.5s;
}

#Content{
   transition-duration: 1s;
   background-color: red;
   margin: 10px auto auto auto;
   border: 1px black solid;
   width: 90vw;
   height: 50vh;
   display: none;
}